body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  color: #434455;
  background-color: #ffffff;
}

.header {
  border-bottom: 1px solid #e7e9fc;
}

img {
  display: block;
}

ul,
ol {
  list-style-type: none;
  margin: 0;
  display: flex;
  gap: 40px;
}

a {
  text-decoration: none;
}

/* Header */
.header {
  background-color: #ffffff;
}

.header-container {
  display: flex;
}

.container {
  width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}

.nav {
  justify-content: space-between;
  display: flex;
  align-items: center;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  gap: 0px;
  padding-left: 156px;
  margin-right: 76px;
}

.logo-span {
  color: #2e2f42;
}

.menu {
  display: flex;
  gap: 40px;
}

.menu-item:last-child {
  margin-right: 0;
}

.menu-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  padding: 24px 0;
}

.menu-link.menu-link_first {
  color: #2e2f42;
}

.menu-link:hover,
.menu-link:focus {
  color: #404bbf;
}

.contact-info a {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  font-style: normal;
}

.contact-info a:hover,
.contact-info a:focus {
  color: #404bbf;
}

.contact-info a:active {
  color: #4d5ae5;
}

/* Кнопка */
.home-button:hover,
.home-button:focus,
.home-button:active {
  background-color: #404bbf;
  cursor: pointer;
}

/* Main */

/* Home Section */
.home-section {
  text-align: center;
  background-color: #2e2f42;
  padding: 188px 0;
}

.home-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
  max-width: 496px;
}

.home-button {
  background-color: #4d5ae5;
  border: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  display: block;
  min-width: 169px;
  height: 56px;
  border-radius: 4px;
  cursor: pointer;
}

.home-button:hover,
.home-button:focus,
.home-button:active {
  background-color: #404bbf;
  cursor: pointer;
}

/* Section Title */
.section-title {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
}

/* Qualities Section */
.qualities-section {
  text-align: center;
  padding: 120px 0;
  margin-right: 24px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.quality-list {
  display: flex;
  gap: 24px;
}

.quality-item:first-child {
  /*flex-basis: calc((100% - 3 * 24px) / 4); */
  width calc((100% - 3 * 24px) / 4);
}

.quality-item:last-child {
  margin-right: 0;
}

.quality-item {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 8px;
}

.quality-title {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.quality-description {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

/* Team Section */
.team-section {
  text-align: center;
  background-color: #f4f4fd;
}

.team-item {
  text-align: center;
  background-color: #ffffff;
}

.team-name {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  color: #2e2f42;
}

.team-role {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #434455;
}

.team-role p {
  font-size: 16px;
  line-height: 1.5;
}

/* Portfolio Section */
.portfolio-section {
  text-align: center;
}

.portfolio-title {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
}

.portfolio-category {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.quality-description,
.portfolio-category,
.footer-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.quality-description p {
  font-size: 16px;
  line-height: 1.5;
}

/* Footer */
.footer {
  background-color: #2e2f42;
  padding: 100px 0;
}

.footer .logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  display: inline-block;
  margin-bottom: 16px;
}

.logo-span-footer {
  color: #f4f4fd;
}

.footer-text {
  font-size: 16px;
  line-height: 1.5;
  color: #f4f4fd;
  letter-spacing: 0.02em;
}

/* Address */
address {
  font-style: normal;
}
